# ==========================================
# Application
# ==========================================
NODE_ENV=development

# ==========================================
# Website
# ==========================================
NEXT_PUBLIC_SITE_NAME=Alex22sv
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SITE_DESCRIPTION=Personal website, portfolio, blog and digital space.

# ==========================================
# Social Links
# ==========================================
NEXT_PUBLIC_GITHUB=
NEXT_PUBLIC_LINKEDIN=
NEXT_PUBLIC_INSTAGRAM=
NEXT_PUBLIC_X=

# ==========================================
# Analytics (optional)
# ==========================================
NEXT_PUBLIC_GA_ID=
