#mainBirthday {
    margin: 100px 150px;
}

@media screen and (max-width: 650px){
	#mainBirthday{
		margin: 30px 30px 5px 30px;
	}
}

#countdown {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}
#countdown ul li {
	display: inline-block;  
	list-style-type: none;  
	padding: 1em;  
}
#days, #hours, #minutes, #seconds {  
	display: block;  
	font-size: 2rem;  
}  
.emoji {  
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding: 1rem;  
}  
.emoji span {  
	font-size: 4rem;  
	padding: 0 .5rem; 
}
.hidden {
	display: none;
}

#countdownTitle, #countdownOverTitle {
    font-size: 30px;
}
